<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emailer</title>
  </head>
  <body>
    <form method="POST" action="/generate-email">
      <textarea><%= mailOptions.text %></textarea>
      <button type="submit" name="button">Send</button>
    </form>
  </body>
</html>
