<form method="POST" action="/generate-email" class="row">
  <div class="col-sm-12">
    <textarea name="text"><%= mailOptions.text %></textarea>
    <button type="submit" name="button">Send</button>
  </div>
</form>
