<form action="/generate" method="POST" class="row" enctype="multipart/form-data" role="form">
  <div class="col-sm-12">
    <label for="email">Your Email</label>
    <input type="email" name="email" placeholder="Enter your email">
  </div>
  <div class="col-sm-12">
    <label for="companyEmail">Company Email</label>
    <input type="email" name="companyEmail" placeholder="Enter the receiver's email">
  </div>
  <div class="col-sm-12">
    <label for="subject">Email Subject</label>
    <input type="text" name="subject" placeholder="Enter the subject of the email">
  </div>
  <h2 class="col-sm-12">follow up</h2>
  <div class="col-md-6">
    <label for="reciver">Enter receiver's name</label>
    <input type="text" name="reciver" placeholder="Enter the receiver's name">
  </div>
  <div class="col-md-6">
    <label for="role">Enter the role</label>
    <input type="text" name="role" placeholder="Enter the role you are applying for">
  </div>
  <div class="col-sm-12">
    <label for="companyName">Enter the company name</label>
    <input type="text" name="companyName" placeholder="Enter the company name">
  </div>
  <div class="col-sm-12">
    <label for="daysAgo">Enter days Ago</label>
    <input type="text" name="daysAgo" placeholder="Enter how many days it was sent">
  </div>
  <div class="col-sm-12">
    <label for="name">Enter your name</label>
    <input type="text" name="name" placeholder="Enter your name">
  </div>
  <div class="col-sm-12">
    <label for="tel">Enter your telephone</label>
    <input type="text" name="tel" placeholder="Enter your telephone number">
  </div>
  <div class="col-sm-12">
    <label>Upload your CV</label>
  </div>
  <div class="col-md-4">
    <label for="cvFile" class="file">Choose file<input type="file" name="cvFile" id="cvFile"></label>
  </div>
  <div class="col-md-8">
    <span class="file-path"></span>
  </div>
  <input type="hidden" name="emailType" value="followUp" />
  <div class="col-sm-12">
    <button type="submit" name="button">Submit</button>
  </div>
</form>
