<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emailer</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://use.fontawesome.com/2e0921ab0e.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/"><i class="fa fa-envelope-o" aria-hidden="true"></i> Emailer</a></h1>
      </header>
      <main class="container">
        <div class="row">
          <div class="col-md-4 offset-md-4 col-sm-8 offset-sm-2">
            <a href="/auth/google" class="button"><i class="fa fa-google" aria-hidden="true"></i> Sign in with Gmail</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>Created by Sam Domesjo && Mike Hayden && Emily Isacke</p>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
