<form action="/generate" method="POST" class="row" enctype="multipart/form-data" role="form">
  <div class="col-sm-12">
    <label for="email">Your Email</label>
    <input type="email" name="email" placeholder="Enter your email">
  </div>
  <div class="col-sm-12">
    <label for="companyEmail">Company Email</label>
    <input type="email" name="companyEmail" placeholder="Enter the receiver's email">
  </div>
  <div class="col-sm-12">
    <label for="subject">Email Subject</label>
    <input type="text" name="subject" placeholder="Enter the subject of the email">
  </div>
  <h2 class="col-sm-12">Cover Letter</h2>
  <div class="col-md-6">
    <label for="reciver">Enter receiver's name</label>
    <input type="text" name="reciver" placeholder="Enter the receiver's name">
  </div>
  <div class="col-md-6">
    <label for="role">Enter the role</label>
    <input type="text" name="role" placeholder="Enter the role you are applying for">
  </div>
  <div class="col-md-6">
    <label for="city">Enter the city</label>
    <input type="text" name="city" placeholder="Enter the city the company is based in">
  </div>
  <div class="col-md-6">
    <label for="sector">Enter the sector</label>
    <input type="text" name="sector" placeholder="Enter the sector the company is based in">
  </div>
  <div class="col-sm-12">
    <label for="paragraph">Enter a Paragraph</label>
    <input type="text" name="paragraph" placeholder="Enter paragraph about the copmany">
  </div>
  <div class="col-sm-12">
    <label for="companyName">Enter the company name</label>
    <input type="text" name="companyName" placeholder="Enter the company name">
  </div>
  <div class="col-sm-12">
    <label for="frameworks">Enter frameworks you have worked with</label>
    <input type="text" name="frameworks" placeholder="Enter the framework you want to mention">
  </div>
  <div class="col-sm-12">
    <label for="favouriteFramework">favouriteFramework</label>
    <input type="text" name="favouriteFramework" placeholder="Please enter the favourite Framework">
  </div>
  <div class="col-sm-12">
    <label for="portfolio">Enter your portfolio url</label>
    <input type="text" name="portfolio" placeholder="Enter your portfolio url">
  </div>
  <div class="col-sm-12">
    <label for="name">Enter your name</label>
    <input type="text" name="name" placeholder="Enter your name">
  </div>
  <div class="col-sm-12">
    <label for="tel">Enter your telephone</label>
    <input type="text" name="tel" placeholder="Enter your telephone number">
  </div>
  <div class="col-md-4">
    <label>Upload your CV</label>
    <label for="cvFile" class="file">Choose file<input type="file" name="cvFile" id="cvFile"></label>
  </div>
  <div class="col-sm-12">
    <button type="submit" name="button">Submit</button>
  </div>
</form>
