<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emailer</title>
  </head>
  <body>
    <a href="/auth/google">Sign in with GMAIL</a>
    <form action="/generate" method="POST">
      <div>
        <label for="email">My Email</label>
        <input type="email" name="email" placeholder="Enter you email">
      </div>
      <div>
        <label for="companyEmail">Company Email</label>
        <input type="email" name="companyEmail" placeholder="Enter the recivers Email">
      </div>
      <div>
        <label for="subject">Email Subject</label>
        <input type="text" name="subject" placeholder="Enter the subject of the email">
      </div>
      <div>
        <h2>Cover Letter</h2>
          <div>
            <label for="reciver">Enter Recivers Name</label>
            <input type="text" name="reciver" placeholder="please enter the recivers name">
          </div>
          <div>
            <label for="role">Enter the Role</label>
            <input type="text" name="role" placeholder="Enter the role you are applying for">
          </div>
          <div>
            <label for="city">Enter the city</label>
            <input type="text" name="city" placeholder="Enter the city the company is based in">
          </div>
          <div>
            <label for="sector">Enter the sector</label>
            <input type="text" name="sector" placeholder="Enter the sector the company is based in">
          </div>
          <div>
            <label for="companyName">Enter the CompanyName</label>
            <input type="text" name="companyName" placeholder="Enter the company Name">
          </div>
          <div>
            <label for="frameworks">Enter Frameworks you have worked with</label>
            <input type="text" name="frameworks" placeholder="Enter the framework you want to mention">
          </div>
          <div>
            <label for="companyLanguage">Enter the companyLanguage</label>
            <input type="text" name="companyLanguage" placeholder="Enter the companyLanguage that you want to </div>learn">
            <div>
            <label for="portfolio">Enter the portfolio</label>
            <input type="text" name="portfolio" placeholder="Enter your portfolio url">
          </div>
          <div>
            <label for="name">Enter your name</label>
            <input type="text" name="name" placeholder="Enter your name">
          </div>
          <div>
            <label for="tel">Enter the telephone</label>
            <input type="text" name="tel" placeholder="Enter your telephone number">
          </div>
        </div>
      </div>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
